.book-page{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.position{
    font-weight: bold;
}
.name{
    font-style: oblique;
    font-size: x-large;
}
.headers{
    text-transform: uppercase ;
}
.marker{
    list-style-type: square;
}
.link{
    color: #00f;
    text-decoration: underline;
}
.link:hover{
    text-decoration: none;
}
.link:visited{
    color: #005;
}
.border{
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgb(134, 210, 185);
}
.frame{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(133, 232, 199);
    padding: 10px;
}
.background_header{
    background-color: rgb(55, 212, 212);
}
.background_text{
    background-color: rgb(183, 241, 237);
}
.picture_float{
    float: right;
    width: 100px;
    height: 100px;
}
.table_parameters{
    display: block;
}
.position_full{
    width: 100%;
}