.book-page{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.position{
    font-weight: bold;
}
.name{
    font-style: oblique;
}
.headers{
    text-transform: uppercase ;
}
.marker{
    list-style-type: square;
}
.link{
    color: #00f;
    text-decoration: underline;
}
.link:hover{
    text-decoration: none;
}
.link:visited{
    color: #005;
}